<h2 class="mb-4">Dashboard da Conta</h2>
<div class="row">
  <div class="col-12 col-md-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">
          Lançamentos da conta
        </h5>
        <p class="card-text">
          Ver lançamentos da conta
        </p>
        <a class="btn btn-primary" [routerLink]="['./lancamentos']">Ver Detalhes</a>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-9">
    <app-loading [isLoading]="isLoading" [hasError]="hasError" (tryAggain)="tryAgain()">
      <div class="d-flex">
        <app-sunburst [data]="data" [layout]="layout" class="mx-auto overflow-auto"></app-sunburst>
      </div>
    </app-loading>
  </div>
</div>

